{% extends 'base.html.twig' %}


{% block body %}
<div class="w-25 rw-75 mx-auto my-3">

    <h1 class="my-3"> Changement de mot de passe </h1>

    <form action="{{ path('security_password_change') }}" method="post">

        <div class="form_group my-2">
            <input  placeholder="Ancien mot de passe" required name ="old_password" id="old_password"
            type="password" class="form-control"><i class="fas fa-eye m-1" onclick="oeil('old_password')"></i>
        </div>

        <div class="form_group my-2">
            <input placeholder="Nouveau mot de passe" required name ="new_password" id ="new_password"
            type="password" class="form-control"><i class="fas fa-eye m-1" onclick="oeil('new_password')"></i>
        </div>

        <div class="form_group my-2">
            <input placeholder="Confirmer le nouveau mot de passe" required name ="new_password_confirm" id="new_password_confirm"
            type="password" class="form-control"><i class="fas fa-eye m-1" onclick="oeil('new_password_confirm')"></i>
        </div>

        <div class="form_group">
            <button type="submit" class="btn btn-info">Changer</button>
        </div>

    </form>
</div>



<script>
    function oeil($id) {

        var input = document.getElementById($id);
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
</script>

{% endblock %}