{% extends 'base.html.twig' %}


{% block body %}
<div class="w-25 mx-auto my-3">

    <h1> Connexion </h1>

    <form action="{{ path('security_login') }}" method="post">
        <div class="form_group">
            <input placeholder="Adresse email..." required name ="_username"
            type="texte" class="form-control">
        </div>

        <div class="form_group my-2">
            <input placeholder="Mot de passe..." required name ="_password" id ="_password"
            type="password" class="form-control"><i class="fas fa-eye m-1" onclick="oeil()"></i>
        </div>

        <div class="form_group">
            <button type="submit" class="btn btn-info">Connexion</button>
        </div>
    </form>
</div>



<script>
    function oeil() {

        var input = document.getElementById("_password");
        if (input.type === "password") {
            input.type = "text";
        } else {
            input.type = "password";
        }
    }
</script>

{% endblock %}