.primary{
    color:  #03989e !important;
}
.primary li a{
    color:  #007377 !important;
}
a{
    text-decoration: none;
}
#sidebarMenu .nav-link{
    color: black;
}
#sidebarMenu{
    min-height: 90vh;

}
.navbar{
    background-color: #03989e ;
}
.res-title a{
    color : #03989e;
}
.crud a{
    font-size: xx-large;
    color: #03989e;
}
.draft{
    opacity: 0.5;
}
.ressources-row{
    max-width: 100%;

}
.position-sticky{
    top: 0;
    font-size: 1.3rem;
}
.cover-container{
    background-image: url("../images/home_bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 90vh;
    position: relative;
    justify-content: center;
}
main{
    z-index: 2;
}
.opa::after {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    content: "";
    pointer-events: none;
  }
  .statistics p strong{
    color: #03989e;
}


label {
    position: relative;
  }
  
  label input {
    font-size: 1em;
    background: transparent;
    padding: 1rem 1.2rem;
    width: 350px;
    border-radius: 5px;
    border: 2px solid #7a7a7a;
    transition: all 0.2s;
  }

  label input:focus {
    border-color: #ff4754;
  }

  label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 20px;
    transition: all 0.2s;
  }
  
  label .password-icon:hover {
    cursor: pointer;
    color: #ff4754;
  }
  
  label .password-icon .feather-eye-off {
    display: none;
  }
  .fa-eye{
    position: absolute;
    right: 7px;
    top: 7px;
  }
  .form_group{
    position: relative;
  }
