{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<center>
    
    <h1> Bienvenue sur notre application de partage de ressources (RE)SOURCES RELATIONNELLES !</h1>
    <h2> Vous pouvez vous connecter ou vous inscrire !</h2>

<p>
Tu autem, Fanni, quod mihi tantum tribui dicis quantum ego nec adgnosco nec postulo, facis amice; sed, ut mihi videris, non recte iudicas de Catone; aut enim nemo, quod quidem magis credo, aut si quisquam, ille sapiens fuit. Quo modo, ut alia omittam, mortem filii tulit! memineram Paulum, videram Galum, sed hi in pueris, Cato in perfecto et spectato viro.
</p>


<button type "submit" class "btn btn-success">Voir les ressources  </button>
<button type "submit" class "btn btn-success">Publier une ressource </button>
<button type "submit" class "btn btn-success">Gestion du profil</button>

</center>

{% endblock %}
