{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<center>
    
    <h1> Bienvenue sur notre application de partage de ressources (RE)SOURCES RELATIONNELLES !</h1>
    <h2> Vous pouvez vous connecter et vous inscrire !</h2>


</center>

{% endblock %}
