{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column text-center text-white">
    <div class="opa"></div>
      <main role="main" class="inner cover">
        <h1 class="cover-heading">(RE)SOURCES RELATIONNELLES</h1>
        <p class="lead">Bienvenue sur notre application de partage de ressources !</p>
        <p class="lead">
          <a href="{{  path('ressources') }}" class="btn btn-lg btn-info">Ressources</a>
          {% if is_granted('ROLE_USER') %}
            <a href="{{  path('profile') }}" class="btn btn-lg btn-info">Profil</a>
          {% elseif is_granted('ROLE_ADMIN') %}
            <a href="{{  path('adminHome') }}" class="btn btn-lg btn-info">Administration</a>
          {% else %}
            <a href="{{  path('security_registration') }}" class="btn btn-lg btn-info">Inscription</a>
          {% endif %}

        </p>
      </main>
    </div>
{% endblock %}
