{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<center>
    
    <h1> Bienvenue sur notre application de partage de ressources (RE)SOURCES RELATIONNELLES !</h1>
    <h2> Vous pouvez vous connecter ou vous inscrire !</h2>


<button type "submit" class "btn btn-success">Voir les ressources  </button>
<button type "submit" class "btn btn-success">Publier une ressource </button>
<button type "submit" class "btn btn-success">Gestion du profil</button>

</center>

{% endblock %}
