{% extends 'base.html.twig' %}

{% block title %}Back office{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Bienvenue dans le panneau d'administration ! ✅</h1>
</div>

{% endblock %}
